<div nz-row >
  <div nz-col [nzXs]="24" [nzLg]="11" >
    <nz-card class="card" appCard id="card__ticket" style="height: 90vh;" [nzExtra]="cardHeaderLeft" >
      <nz-list
        style="height: 100% !important;"
        class="card__list"
        [nzDataSource]="listTicket"
        nzSize="large"
        [nzFooter]="footer"
        [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item appCardticket
                        class="lista-items"
                        [id]="item[0]"
                        [nzContent]="item.codigo"></nz-list-item>
        </ng-template>
        <ng-template #footer >
          <div class="card__footer text-center" >
            <div>
              <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
              <p>Ocupado</p>
            </div>
            <!--[ngClass]="{ 'active': activo === 2 }"-->
            <div
              (click)="estadosTickets( 2 )"
              class="card__footer__button">
              <i nz-icon nzType="bell" nzTheme="outline"></i>
              <p>Llamar </p>
            </div>
            <div
              (click)="estadosTickets( 3 )"
              [ngClass]="{ 'active': activo === 3 }" *ngIf="!derivar; else derivarTemplate"> <!-- && atender  -->
              <i nz-icon type="upload"></i>
              <p>Atender </p>
            </div>
            <ng-template #derivarTemplate>
              <div>
                <i nz-icon type="upload"></i>
                <p
                  nz-popover
                  [(nzVisible)]="visible"
                  (nzVisibleChange)="change($event)"
                  nzTrigger="click"
                  [nzContent]="contentTemplate"
                >
                  Derivar
                </p>
                <ng-template #contentTemplate>
                  <nz-input-group nzSearch [nzSuffix]="suffixIconSearch" >
                    <input type="number"
                           [nzSize]="'small'"
                           placeholder="Ventanilla a Asignar"
                           (keyup.enter)="estadosTickets( 5 )"
                           [(ngModel)]="ventanillaDerivar"
                           nz-input />
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon type="search"></i>
                  </ng-template>
                </ng-template>
              </div>
            </ng-template>
            <div
              (click)="estadosTickets( 4 )">
              <i nz-icon nzType="caret-right" nzTheme="fill"></i>
              <p>Siguiente </p>
            </div>
          </div>
        </ng-template>
      </nz-list>
    </nz-card>
    <ng-template #cardHeaderLeft>
      <div nz-row>
        <div nz-col [nzXs]="5" [nzSm]="4" [nzMd]="4" [nzLg]="5"  class="card__avatar">
          <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
        </div>
        <div nz-col [nzXs]="11" [nzSm]="9" [nzMd]="11" [nzLg]="11"  class="card__contribuyente">
          <p>{{ mostrarInfoAdministrado.idcontribuyente }}</p>
          <p>
              {{ mostrarInfoAdministrado.nombre }} {{ mostrarInfoAdministrado.apepat }} {{ mostrarInfoAdministrado.apemat }}
          </p>
          <p>{{ mostrarInfoAdministrado.nrodoc }}</p>
          <p>{{ validacionEstados ? validacionEstados.estadoticketId : '' }}</p>
        </div>
        <div nz-col [nzXs]="5" [nzSm]="10" [nzMd]="7" [nzLg]="7"  class="card__tematica">
          <p>Temática</p>
          <p>{{ selectTicket ? getTematica( selectTicket.idtematica ) : '' }}</p>
          <p >{{ idtramite ? 'Trámite' : '' }}</p>
          <p>{{ idtramite ? getTramite( idtramite ) : '' }}</p>
        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1" [nzLg]="1" >
          <!-- && atender -->
          <!-- (click)="mostrarListaTematicas()" -->
          <i nz-icon nzType="edit"
             *ngIf="derivar ; else iconoDisabled"
             (click)="pasos = 0"
             nzTheme="outline"></i>
          <!--
          (nzVisibleChange)="change($event)"
             nzTrigger="click"
             [nzPlacement]="'bottom'"
          nz-popover
             [(nzVisible)]="visibleTematica"
          [nzContent]="templateTematica" -->
          <ng-template #iconoDisabled>
            <i nz-icon nzType="edit" style="cursor: not-allowed;"></i>
          </ng-template>
          <!--<ng-template #templateTematica>
            <nz-select style="width: 150px;" [(ngModel)]="mostrarTematica"
                       (ngModelChange)="actualizarTematica( $event )"
                       nzAllowClear nzPlaceHolder="Choose">
              <nz-option *ngFor="let tematica of listTematica"
                         [nzLabel]="tematica.nombre" [nzValue]="tematica.idtematica"></nz-option>
            </nz-select>
          </ng-template>-->
        </div>
      </div>
    </ng-template>
  </div>
  <div nz-col [nzXs]="24" [nzMd]="1"></div>
  <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" style="background-color: #ffffff;">
    <!-- <div [hidden]="vistaDetalle"> -->
      <nz-card [nzExtra]="cardHeaderRight"
               [hidden]="( pasos === 2 )"
               style="height: 90vh;" id="card__right" ><!-- [nzActions]="[actionSetting, actionEdit ]" -->
        <nz-table
                  [hidden]="(pasos === 1 || pasos === 2 || idtematica <= 0 )"
                  #tematicaTable
                   [nzData]="listTematica"
                  [nzSize]="'small'"><!-- [nzScroll]="{ y: '400px' }'" -->
          <thead>
          <tr>
            <th>abr</th>
            <th>Tematica</th>
            <th>paso</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let tematica of tematicaTable.data | pipeFiltros: inputTematicas : '2'"
            (click)="listarTramitePorTematica( tematica.idtematica )"
          >
            <td>{{ tematica.abr }}</td>
            <td>{{ tematica.nombre }}</td>
            <td>{{ pasos }}</td>
          </tr>
          </tbody>
        </nz-table>

        <nz-table
          [hidden]="( pasos === 0 )"
          #basicTable [nzData]="listaTramites" [nzSize]="'small'"><!-- [nzScroll]="{ y: '400px' }'" -->
          <thead>
          <tr>
            <th>Descripción</th>
            <th>Plazo</th>
            <th>Precio</th>
            <th >Acción</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let tramite of basicTable.data | pipeFiltros: inputTramites : '1' "
            (click)="mostrarDetalleTramite( tramite.idtramite )"
          >
            <td>{{ tramite.idtramite }}</td>
            <td>{{ tramite.descripcion }}</td>
            <td>{{tramite.precio}}</td>
          </tr>
          </tbody>
        </nz-table>

        <div class="card__right">
          <div class="card__right__footer">
            <div>
              <i nz-icon type="setting"></i>
              <p>Imprimir</p>
            </div>
            <div>
              <i nz-icon type="edit"></i>
              <p>Descargar</p>
            </div>
          </div>
        </div>
      </nz-card>
      <ng-template #cardHeaderRight style="width: 100% !important;">
        <div nz-row>
          <div nz-col [nzMd]="24">
            <nz-breadcrumb>
              <nz-breadcrumb-item>

              </nz-breadcrumb-item>
            </nz-breadcrumb>
          </div>
          <div nz-col [nzMd]="24" style="margin-top: .7rem;">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text"
                     *ngIf="pasos === 0"
                     name="inputTematicas"
                     [(ngModel)]="inputTematicas"
                     nz-input placeholder="Filtrar por Tematica" />
              <input type="text"
                     *ngIf="pasos === 1"
                     name="inputTramites"
                     [(ngModel)]="inputTramites"
                     nz-input placeholder="Filtrar por tramite" />
              <!-- (keyup)="filtrarTramites( inputTematicas.value )" -->
            </nz-input-group>
          </div>
        </div>
      </ng-template>
      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
    <!-- </div> -->
    <div
      *ngIf="pasos === 2"
      class="detalle">
      <nz-breadcrumb style="margin-bottom: .5rem;">
        <nz-breadcrumb-item>
          <a (click)="pasos = 0">/{{ getTematica( selectTicket.idtematica )  }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a (click)="pasos = 1">{{ getTramite( idtramite )  }}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div *ngFor="let detalleTramite of detallesTramite">
        <h5 class="detalle__titulo">Descripción del Procedimiento</h5>
        <p class="detalle__descripcion">
          {{ detalleTramite.descripcion }}
        </p>
        <div *ngFor="let caso of detalleTramite.casos">
          {{ caso.nombre }}
          <h5 class="detalle__titulo">Requisitos</h5>
          <ul class="detalle__requisitos" >
            <li class="detalle__requisitos--item" *ngFor="let requisitos of caso.requisitos">
              <label nz-checkbox >{{ requisitos.descripcion }}</label>
            </li>
          </ul>
        </div>
        <h5 class="detalle__titulo">Notas</h5>
        <p class="detalle__descripcion">colocar las obervaciones o informacion necesaria que facilite el entendimiento del procedimiento</p>
        <h5 class="detalle__titulo">Canales de Atencion</h5>
        <p class="detalle__descripcion">Presencial, Virtual, Telefonica</p>
        <div class="detalle_row">
          <h5 class="detalle__titulo">Pago por derecho de tramitación</h5>
          <p class="detalle__descripcion">$/ 500000.00</p>
        </div>
        <h5 class="detalle__titulo">Modalidad de Pago</h5>
        <p>Tarjeta de debito y crédito, agencia bancaria transferencia</p>
        <div class="detalle_row">
          <h5 class="detalle__titulo">Plazo</h5>
          <p class="detalle__descripcion">25 días</p>
        </div>
        <div class="detalle_row">
          <h5 class="detalle__titulo">Calificación</h5>
          <p class="detalle__descripcion">Aprobación automatica</p>
        </div>
        <h5 class="detalle__titulo">Sedes y horarios de atención</h5>
        <p class="detalle__descripcion">Colacar las sedees</p>
        <h5 class="detalle__titulo">Instancias de resolución de recursos</h5>
        <p class="detalle__descripcion">Reconsideracion unidad - presentacion 25 dias/ respuesta 25 dás</p>
        <p class="detalle__descripcion">Apelación unidad - presentacion 25 dias/ respuesta 25 dias</p>
        <h5 class="detalle__titulo">Base Legal</h5>
        <div class="u-margin-bottom-medium">
          <p class="detalle__descripcion" *ngFor="let blegales of detalleTramite.baseslegales">
            {{ blegales.descripcion }}
          </p>
        </div>
      </div>
      <div class="card__right" style="margin-top: 1rem;">
        <div class="card__right__footer">
          <div>
            <i nz-icon type="printer"></i>
            <p>Imprimir</p>
          </div>
          <div>
            <i nz-icon type="download"></i>
            <p>Descargar</p>
          </div>
          <div>
            <i nz-icon type="printer"></i>
            <p>Imprimir Satisfacción</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ngx-snackbar
  [position]="'bottom-center'"></ngx-snackbar>
