.card {

  &__avatar {

  }

  &__contribuyente {
    p {
      margin: 0;
    }
  }

  &__tematica {
    p {
      margin: 0;
    }
  }

  &__list {

    &__item {

    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    padding: 1rem 1.5rem 0rem 1.5rem;

    &__button {
      cursor: pointer;
      &:active, &:focus {
        //background-image: linear-gradient(to right bottom, #000, #f7f7f7 );
        font-size: .9rem;
        font-weight: 400;
        margin-top: -1rem;
        padding-top: .6rem;

        /*
        margin-left: -.5rem;*/
        //padding: 10px;
      }
    }
  }

  &__right {
    position: absolute;
    bottom: 0;
    width: 100%;
    &__footer {
      display: flex;
      flex-direction: row;
      div {
        display: -webkit-box;
        padding: .5rem;
        i {
          margin-right: .5rem;
        }
      }
    }

  }
}

[nz-list-item] {
  text-align: center;

  .sin-atender {

  }
}

.detalle {

  padding: 1rem;
  font-size: .9rem;

  &__requisitos {

    list-style: none;
    padding: 0;

    &--item {

    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__titulo {
    font-weight: bold;
  }

  &__descripcion {

  }
}

.lista-items {
  font-size: 1.2rem;
  &:first-child {
    font-weight: bold;
  }
}

.ant-card-extra .ng-star-inserted {
  width: 100% !important;
}
