<div nz-row >
  <div nz-col [nzXs]="24" [nzLg]="11" >
    <nz-card class="card" appCard id="card__ticket" style="height: 90vh;" [nzExtra]="cardHeaderLeft" >
      <nz-list
        style="height: 100% !important;"
        class="card__list"
        [nzDataSource]="listTicket"
        nzSize="large"
        [nzFooter]="footer"
        [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item appCardticket
                        [id]="item.codigo"
                        [nzContent]="item.codigo"></nz-list-item>
        </ng-template>
        <ng-template #footer >
          <div class="card__footer text-center" >
            <div>
              <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
              <p>Ocupado</p>
            </div>
            <div (click)="( estado == 1 || estado == 2 ) && estadoTicket( 2 )" class="card__footer__button">
              <i nz-icon nzType="bell" nzTheme="outline"></i>
              <p>Llamar {{ estado }}</p>
            </div>
            <div  (click)="estado == 2 && estadoTicket( 3 )" *ngIf="!derivar; else derivarTemplate">
              <i nz-icon type="upload"></i>
              <p>Atender {{ estado }}</p>
            </div>
            <ng-template #derivarTemplate>
              <div >
                <i nz-icon type="upload"></i>
                <p
                  nz-popover
                  [(nzVisible)]="visible"
                  (nzVisibleChange)="change($event)"
                  nzTrigger="click"
                  [nzContent]="contentTemplate"
                >
                  Derivar
                </p>
                <ng-template #contentTemplate>
                  <nz-input-group nzSearch [nzSuffix]="suffixIconSearch" >
                    <input type="text"
                           [nzSize]="'small'"
                           placeholder="Ventanilla a Asignar"
                           (keyup.enter)="estado == 3 && estadoTicket( 4 )"
                           [(ngModel)]="ventanillaDerivar"
                           nz-input />
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon type="search"></i>
                  </ng-template>
                </ng-template>
              </div>
            </ng-template>
            <div (click)="estado == 4 && estadoTicket( 5 )">
              <i nz-icon nzType="caret-right" nzTheme="fill"></i>
              <p>Siguiente {{ ventanillaDerivar }}</p>
            </div>
          </div>
        </ng-template>
      </nz-list>
    </nz-card>
    <ng-template #cardHeaderLeft>
      <div nz-row>
        <div nz-col [nzXs]="5" [nzSm]="4" [nzMd]="4" [nzLg]="5"  class="card__avatar">
          <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
        </div>
        <div nz-col [nzXs]="11" [nzSm]="9" [nzMd]="9" [nzLg]="9"  class="card__contribuyente">
          <p>{{ mostrarInfoTicket.idcontribuyente }}</p>
          <p>
              {{ mostrarInfoTicket.nombre }} {{ mostrarInfoTicket.apepat }} {{ mostrarInfoTicket.apemat }}
          </p>
          <p>{{ mostrarInfoTicket.nrodoc }}</p>
        </div>
        <div nz-col [nzXs]="5" [nzSm]="10" [nzMd]="8" [nzLg]="9"  class="card__tematica">
          <p>Temática</p>
          <p>{{ getTematica( idtematica ) }}</p>
        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1" [nzLg]="1" >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </div>
      </div>
    </ng-template>
  </div>
  <div nz-col [nzXs]="24" [nzMd]="1"></div>
  <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" style="background-color: #ffffff;">
    <nz-card [nzExtra]="cardHeaderRight" style="height: 90vh;" id="card__right" ><!-- [nzActions]="[actionSetting, actionEdit ]" -->
      <nz-table #basicTable [nzData]="listaTramites"
                [nzSize]="'small'"><!-- [nzScroll]="{ y: '400px' }'" -->
        <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tramite of basicTable.data">
          <td>{{ tramite.descripcion }}</td>
          <td>{{ tramite.plazo }}</td>
          <td>{{tramite.precio}}</td>
          <td>
            <a>Action 一 {{ tramite.idtramite }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <div class="card__right">
        <div class="card__right__footer">
          <div>
            <i nz-icon type="setting"></i>
            <p>Imprimir</p>
          </div>
          <div>
            <i nz-icon type="edit"></i>
            <p>Descargar</p>
          </div>
        </div>
      </div>
    </nz-card>
    <ng-template #cardHeaderRight style="width: 100% !important;">
      <div nz-row>
        <div nz-col [nzMd]="24">
          <nz-breadcrumb>
            <nz-breadcrumb-item>
              <a>/licencia de edificación</a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
        <div nz-col [nzMd]="24" style="margin-top: .7rem;">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
        </div>
      </div>
    </ng-template>
    <!--<ng-template #actionSetting>

    </ng-template>-->
    <ng-template #suffixIconSearch>
      <i nz-icon type="search"></i>
    </ng-template>
  </div>
</div>

<ngx-snackbar
  [position]="'bottom-center'"></ngx-snackbar>
