.card {

  &__avatar {

  }

  &__contribuyente {
    p {
      margin: 0;
    }
  }

  &__tematica {
    p {
      margin: 0;
      font-size: .75rem;
    }
  }

  &__list {

    &__item {

    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e2e2e2;
    padding: 1rem 1.5rem 0rem 1.5rem;

    &__button {
      cursor: pointer;
      &:active, &:focus {
        //background-image: linear-gradient(to right bottom, #000, #f7f7f7 );
        font-size: .9rem;
        font-weight: 400;
        margin-top: -1rem;
        padding-top: .6rem;

        /*
        margin-left: -.5rem;*/
        //padding: 10px;
      }
    }
  }

  &__right {
    position: absolute;
    bottom: 0;
    width: 100%;
    &__footer {
      display: flex;
      flex-direction: row;
      div {
        display: -webkit-box;
        padding: .5rem;
        i {
          margin-right: .5rem;
        }
      }
    }

  }
}

.snack-message {
  border: 1px solid #108ee9;
}

[nz-list-item] {
  text-align: center;

  .sin-atender {

  }
}

.detalle {
  position: relative;
  padding: 1rem;
  font-size: .9rem;

  &__right {
    height: 2rem;

    span:nth-child( 2 ) {
      i {
        padding: .5rem;
      }
    }
  }

  &__requisitos {

    list-style: none;
    padding: 0;

    &--item {

    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__titulo {
    font-weight: bold;
  }

  &__descripcion {

  }
}

.lista-items {
  font-size: 1.2rem;
  &:first-child {
    font-weight: bold;
  }

  &--text {
    display: flex; flex-direction: row;justify-content: center;align-content: center;
  }

  &--estado {
    border-radius: .3rem !important;
    padding: .3rem .3rem 0rem .3rem !important;;

    &:hover {
      cursor: pointer;
    }

    &-llamando {
      border: 1px solid #faad14;
      color: #faad14;
    }

    &-atendiendo {
      border: 1px solid #87d068;
      color: #87d068;
    }
  }
}

[nz-badge]:host {
  background-color: #87d068 !important;
  border-radius: .5rem !important;
  padding: .1rem !important;
}

.ant-card-extra .ng-star-inserted {
  width: 100% !important;
}
.active {
  color: white;
  color: white;
  background-color: mediumseagreen;
  margin-top: -1rem;
  padding: .8rem;
}
