<div nz-row>
  <!--<div class="caritas" id="caritas">
    <i nz-icon nzType="smile" nzTheme="outline"></i>
    <i nz-icon nzType="meh" nzTheme="outline"></i>
    <i nz-icon nzType="frown" nzTheme="outline"></i>
    <button class="caritas&#45;&#45;button"
            (click)="imprimir('caritas')"
            nz-button>IMPRIMIR</button>
  </div>-->
  <div class="satisfaccion">
    <div class="satisfaccion__caja">
      <h2 class="satisfaccion__caja-codigo">C1-A85</h2>
      <p class="satisfaccion__caja-texto">
        Entregar al salir,
        su opinion nos ayuda a mejorar, porque usted nos importa
      </p>
    </div>
    <h1 class="text-center satisfaccion__titulo">
      Medidor de Satisfacción
    </h1>
    <h3 class="text-center satisfaccion__titulo">
      Marque con una "X" o encierre con un circulo "O"
    </h3>
    <div class="u-margin-top-small satisfaccion__consulta">
      <h3 class="satisfaccion__consulta-pregunta">
        ¿La información que se brindó fue útil?
      </h3>
      <div class="satisfaccion__consulta-caritas">
        <span>
          <i nz-icon nzType="smile" nzTheme="outline"></i>
          <p>Mal</p>
        </span>
        <span>
          <i nz-icon nzType="meh" nzTheme="outline"></i>
          <p>Neutral</p>
        </span>
        <span>
          <i nz-icon nzType="frown" nzTheme="outline"></i>
          <p>Bien</p>
        </span>
      </div>
    </div>
    <div class="satisfaccion__consulta">
      <h3 class="satisfaccion__consulta-pregunta">
        ¿Está satisfecho con la atención brindada?
      </h3>
      <div class="satisfaccion__consulta-caritas">
        <span>
          <i nz-icon nzType="smile" nzTheme="outline"></i>
          <p>Mal</p>
        </span>
        <span>
          <i nz-icon nzType="meh" nzTheme="outline"></i>
          <p>Neutral</p>
        </span>
        <span>
          <i nz-icon nzType="frown" nzTheme="outline"></i>
          <p>Bien</p>
        </span>
      </div>
    </div>
    <div class="satisfaccion__consulta">
      <h3 class="satisfaccion__consulta-pregunta">
        ¿Es de su agrado la nueva plataforma?
      </h3>
      <div class="satisfaccion__consulta-caritas">
        <span>
          <i nz-icon nzType="smile" nzTheme="outline"></i>
          <p>Mal</p>
        </span>
        <span>
          <i nz-icon nzType="meh" nzTheme="outline"></i>
          <p>Neutral</p>
        </span>
        <span>
          <i nz-icon nzType="frown" nzTheme="outline"></i>
          <p>Bien</p>
        </span>
      </div>
    </div>
  </div>
</div>
