<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'xxl'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
    class="boton-sider"
    style="min-height: 100vh; position: relative;"
  >
    <div class="logo"></div>
    <ul
      nz-menu
      [nzTheme]="'dark'"
      [nzMode]="'inline'"
      class="sider__lista"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        nz-menu-item
        class="sider__lista--item"
        style="background-color: #001529;color: #ffffff;"
      >
        <span
          ><i nz-icon nzType="user" nzTheme="outline">
            <span class="nav-text"></span> </i
        ></span>
        {{ usuarioLogueado.username }}
        <!-- <div class="example-input">
          <input
            placeholder="Buscar Usuario..."
            nz-input
            [(ngModel)]="inputValue"
            (input)="onInput($event.target?.value)"
            [nzAutocomplete]="auto"
          />
          <nz-autocomplete nzBackfill #auto>
            <nz-auto-option
              *ngFor="let usuario of usuarios" [nzValue]="usuario.username"
              (selectionChange)="guardarVentanilla( usuario )"
            >
              {{ usuario.username }}
            </nz-auto-option>
          </nz-autocomplete>
        </div> -->
      </li>
      <li nz-submenu nzTitle="User" nzIcon="user" style="color: #ffffff">
        <ul>
          <!-- <h1>{{  }}</h1> -->
          <li nz-menu-item (click)="logout()">Cerrar Sesión</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!--<nz-header style="background: #fff; padding:0;"></nz-header>-->
    <!-- *ngIf="ventanillaService.ventanilla.codigoventanilla" -->
    <nz-content style="padding: 1rem;position: relative;">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;background-color: #ffffff;">
      <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" theme="outline"></i
  ><!--style="position: fixed;top: 1.7rem;z-index: 1000;" -->
</ng-template>
<!--<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">User</span></span>
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span><i nz-icon type="file"></i><span class="nav-text">File</span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0; display: flex;">
      <i
        class="trigger"
        nz-icon
        [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <div class="logo"></div>
      <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" >
        <li nz-menu-item>nav 1</li>
        <li nz-menu-item>nav 2</li>
        <li nz-menu-item>nav 3</li>
      </ul>
    </nz-header>
    <nz-content style="padding: 1rem">
      &lt;!&ndash;<nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>&ndash;&gt;
      <div style="padding:10px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;background: #fff;">
      <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>-->
